apiVersion: apps/v1
kind: Deployment
metadata:
  name: python-demo
  namespace: {{ .Values.namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: python-demo
  template:
    metadata:
      labels:
        app: python-demo
        azure.workload.identity/use: "true"
    spec:
      serviceAccountName: {{ .Values.serviceAccountName }}
      containers:
        - name: python
          image: python:3.12-slim
          command: ["tail", "-f", "/dev/null"]
          env:
            - name: AZURE_CLIENT_ID
              value: {{ .Values.azureClientId | quote }}
